Connected Services/Service/UmsService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UserManagementSystem.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UserManagementSystem.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBrandType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BrandType" nillable="true" type="tns:BrandType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBrandType" nillable="true" type="tns:ArrayOfBrandType" />
  <xs:complexType name="BrandType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BrandType" nillable="true" type="tns:BrandType" />
  <xs:complexType name="ArrayOfCity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="City" nillable="true" type="tns:City" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCity" nillable="true" type="tns:ArrayOfCity" />
  <xs:complexType name="City">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="tns:State" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="City" nillable="true" type="tns:City" />
  <xs:complexType name="State">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="tns:Country" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="State" nillable="true" type="tns:State" />
  <xs:complexType name="Country">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Country" nillable="true" type="tns:Country" />
  <xs:complexType name="ArrayOfCountry">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Country" nillable="true" type="tns:Country" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCountry" nillable="true" type="tns:ArrayOfCountry" />
  <xs:complexType name="ArrayOfEmailType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmailType" nillable="true" type="tns:EmailType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmailType" nillable="true" type="tns:ArrayOfEmailType" />
  <xs:complexType name="EmailType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmailType" nillable="true" type="tns:EmailType" />
  <xs:complexType name="ArrayOfPhoneType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PhoneType" nillable="true" type="tns:PhoneType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPhoneType" nillable="true" type="tns:ArrayOfPhoneType" />
  <xs:complexType name="PhoneType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PhoneType" nillable="true" type="tns:PhoneType" />
  <xs:complexType name="ArrayOfState">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="State" nillable="true" type="tns:State" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfState" nillable="true" type="tns:ArrayOfState" />
  <xs:complexType name="ArrayOfPublication">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Publication" nillable="true" type="tns:Publication" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPublication" nillable="true" type="tns:ArrayOfPublication" />
  <xs:complexType name="Publication">
    <xs:sequence>
      <xs:element minOccurs="0" name="Brand" nillable="true" type="tns:BrandType" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Publication" nillable="true" type="tns:Publication" />
</xs:schema>