Connected Services/Service/UmsService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57905/UmsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UserManagementSystem.Service" />
  <xs:import schemaLocation="http://localhost:57905/UmsService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/UserManagementSystem.Entities" />
  <xs:import schemaLocation="http://localhost:57905/UmsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="GetBrands">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBrandsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UserManagementSystem.Service" minOccurs="0" name="GetBrandsResult" nillable="true" type="q1:ResponseResultOfArrayOfBrandTypeIM_P2MBHX" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCities">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stateId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/UserManagementSystem.Service" minOccurs="0" name="GetCitiesResult" nillable="true" type="q2:ResponseResultOfArrayOfCityIM_P2MBHX" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountries">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/UserManagementSystem.Service" minOccurs="0" name="GetCountriesResult" nillable="true" type="q3:ResponseResultOfArrayOfCountryIM_P2MBHX" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmailTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmailTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/UserManagementSystem.Service" minOccurs="0" name="GetEmailTypesResult" nillable="true" type="q4:ResponseResultOfArrayOfEmailTypeIM_P2MBHX" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPhoneTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPhoneTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/UserManagementSystem.Service" minOccurs="0" name="GetPhoneTypesResult" nillable="true" type="q5:ResponseResultOfArrayOfPhoneTypeIM_P2MBHX" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStates">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="countryId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/UserManagementSystem.Service" minOccurs="0" name="GetStatesResult" nillable="true" type="q6:ResponseResultOfArrayOfStateIM_P2MBHX" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserBooks">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="IsAdmin" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserBooksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/UserManagementSystem.Service" minOccurs="0" name="GetUserBooksResult" nillable="true" type="q7:ResponseResultOfArrayOfPublicationIM_P2MBHX" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserBooksByBrand">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/UserManagementSystem.Entities" minOccurs="0" name="brandType" nillable="true" type="q8:BrandType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserBooksByBrandResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/UserManagementSystem.Service" minOccurs="0" name="GetUserBooksByBrandResult" nillable="true" type="q9:ResponseResultOfArrayOfPublicationIM_P2MBHX" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserBooksByBrandId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="brandTypeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserBooksByBrandIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/UserManagementSystem.Service" minOccurs="0" name="GetUserBooksByBrandIdResult" nillable="true" type="q10:ResponseResultOfArrayOfPublicationIM_P2MBHX" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetLeads">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q11:guid" />
        <xs:element minOccurs="0" name="leads" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetLeadsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/UserManagementSystem.Service" minOccurs="0" name="SetLeadsResult" nillable="true" type="q12:ResponseResultOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetNotification">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q13:guid" />
        <xs:element minOccurs="0" name="notifications" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetNotificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/UserManagementSystem.Service" minOccurs="0" name="SetNotificationResult" nillable="true" type="q14:ResponseResultOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>